main{
  min-height: 87vh;
}

.navbar-transition {
  transition: transform 0.3s ease-in-out;
}

.navbar-hidden {
  transform: translateY(-100%);
}

.navbar-visible {
  transform: translateY(0);
}

.video-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.video-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
